name: Build & Deploy
on:
    workflow_dispatch:
    workflow_run:
        workflows: ['Azuriom CI']
        branches: [pixelax]
        types:
            - completed


jobs:
  docker:
    permissions:
      packages: write
      contents: read
    name: Build and save
    if: |
      github.event.workflow_dispatch
      || github.event.workflow_run.conclusion == 'success'
      && !contains(github.event.commits.*.message, '[skip ci]')
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t ghcr.io/akimitsulebot/site:latest .
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push docker image
        run: docker push ghcr.io/akimitsulebot/site:latest

  deploy:
      name: Call deploy script
      permissions:
        contents: write
      runs-on: ubuntu-latest
      needs: docker
      steps:
        - name: Trigger ansible playbook
          env:
            REPO_OWNER: "AkimitsuLeBot"
            REPO_NAME: "${{ secrets.ANSIBLE_REPO }}"
            EVENT_TYPE: "deploy-website"
          run: |
            curl -L \
              -X POST \
              --fail-with-body \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.PAT }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/dispatches \
              -d "{\"event_type\": \"$EVENT_TYPE\"}"
